@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,200&family=Montserrat:wght@600&display=swap');

/*font-family: "Inter", serif;*/

/* principio de la pagina  */
body{
    background: rgb(49, 40, 136);
    background-image: linear-gradient(120deg, rgba(32, 32, 61, 0.8), rgba(63, 63, 117, 0.7)), url(./img/fondo2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    font-size: 20px;
    width: 100%;
    height: 100%;
    margin: 0;
    color: rgb(255, 255, 255);   
}

h1{
    font-family: "Montserrat", serif;
    text-align: center;
}

p{
    text-align: start;
    margin: 0% 0% 2px 2%;
}

#formulario-estilo{
    max-width: 600px;
    min-width: 100px;
    width: 80vw;
    margin:   auto; 
    display: block;
    flex-direction: column;
    align-items:center ;
}

#titulo-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo formulario  */
#survey-form{ 
    background-color: rgba(16, 11, 64, 0.7);
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items:start 
}

fieldset{
    display: block;
    align-items: center;
    min-height: 2em;
    border: 0;
    padding: 2rem 0 0 0  ;
    width: 90%;
    margin: auto;
}

input, label{
    
    width: 90%;
    margin: 0% 2% 4% 2%;
}

::placeholder{
    color: rgb(141, 138, 138);
    
}

/* segmento 1 del formulario datos personales   */
.dat{
    background-color: rgb(236, 234, 252);
    color: rgb(0, 0, 0);
    height: 35px;
    border-radius: 5px;
    border: none;
}

/* segmento 2 del formulario opciones de preferencia   */

#dropdown{
    margin: 0% 2% 4% 2%;
    width: 90%;
}

/* segmento 3 del formulario boton de opciones   */
#boton-opciones{
    display: flex;
    align-items: start;
    flex-direction: column;
}
#boton{
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin: 0% 2% 0% 2%;
}

input[type="radio"]{
    width: 20px;
    height: 40px;
    margin: 2% 2% 2% 2% ;
}   

/* segmento 4 mejoras de la pagina web */
input[type="checkbox"]{
    width:20px;
    height: 40px;
    margin: 0% 0% 0% 2% ;
    
}

/* segmento 5 comentario  */
textarea{
    width: 90%;
    margin: 0% 2% 4% 2%;
    border-radius: 5px;
    border: none;
}

/* segmento 6 enviar   */
#submit{
    display: block;
    align-items: start;
    height: 30px;
    width: 90%;
    background-color: rgb(12, 210, 144);
    color: white;
    border-radius: 5px;
    border: none;
    


}

